.navigation.pagination {
  margin-block: var(--block-spacing);
}

.page-links,
.pagination {
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  gap: 0.125rem;
  flex-wrap: wrap;
  padding: 0;
}

.post-page-numbers,
.page-numbers {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: var(--radius-small);
  padding: 0.25rem 0.5rem;
  color: var(--color-600);
  transition: all var(--transition);
  font-size: 1.125rem;
  box-shadow: var(--shadow-small);
  text-wrap: nowrap;
  white-space: nowrap;
  text-decoration: none;
  border-width: 0.0625em;
  border-style: solid;
  border-color: transparent;
  width: fit-content;
  height: 2rem;


  &.current {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    &:hover {
      background-color: transparent;
    }
  }

  &:hover {
    //font-weight: 700 ;
    //background-color: var(--color-50);
    //border-radius: var(--radius-small);
  }

  &.dots {
    padding: 0;
  }
  &.next,
  &.prev {
    &:hover {
      background-color: var(--color-50);
    }
  }
}

ul.page-numbers {
  padding: 0;
}


.post-navigation .nav-links{
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-block-start: var(--block-spacing);
  margin-inline: auto;

  .nav-next,
  .nav-previous {
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.4em;
      border-radius: var(--radius-small);
      padding: 0.4375em 0.9375em;
      color: var(--color-600);
      transition: all var(--transition);
      font-size: inherit;
      box-shadow: var(--shadow-small);
      text-wrap: nowrap;
      white-space: nowrap;
      text-decoration: none;
      border-width: 0.0625em;
      border-style: solid;
      border-color: transparent;
      &:hover {
        font-weight: 700 ;
        color: var(--color-800);
      }
    }
  }

  .nav-next {
    margin-inline-start: auto;
  }

}

