.comments-area {
  margin-block-start: var(--block-spacing);
  padding-inline: 1rem;
  border-block-start: 0.0625rem solid var(--color-300);
  padding-block: var(--block-spacing) 1rem;
}

.comment-list {
  .children {
    margin-inline-start: 0.3125rem;
    padding-inline-start: 0.75rem;
  }

  .comment {
    position: relative;
  }
  .comment.parent:after {
    content: "";
    position: absolute;
    inset: 2.5rem auto auto 0.125rem;
    width: 0.125rem;
    height: calc(100% - 2.5rem);
    border-inline-start: 0.0625rem dashed var(--color-300);
  }
}

.bypostauthor {
  display: block;
}


.comment-reply-link {
  color: transparent;
  position: relative;
  height: 2rem;
  width: 2rem;
  display: flex;
  border-radius: var(--radius-small);

  &:after {
    position: absolute;
    content: '\ea12';
    font-family: "MonobaseIcon";
    color: var(--color-600);
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: var(--color-100);
  }
}

.comment-reply-title,
.comments-title {
  font-size: 1.125rem;
  font-weight: 600;
  text-wrap: balance;
}

.comment-reply-title {
  font-size: 1.75rem;
  margin-block-end: 0.5rem;
}

.comment-body {
  display: grid;
  gap: 0.5rem;
  position: relative;
  grid-template-areas: 'comment-meta comment-reply' 'comment-content comment-content';
  grid-template-columns: 1fr auto;
  margin-block: 0.5rem;

  .reply {
    grid-area: comment-reply;
  }
}

.comment-meta {
  grid-area: comment-meta;
}

.comment-content {
  min-height: 3.75rem;
  margin-inline-start: 2.5rem;
  margin-block: 0.75rem;
  grid-area: comment-content;
}

.comment-author {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;

  img {
    width: 2rem;
    border-radius: var(--radius-small);
  }
}


.comment-metadata {
  position: absolute;
  inset: auto;
  transform: translateY(-75%);
  font-size: 0.625rem;
  line-height: 1.2;
  inset-inline-start: 2.5rem;

  a {
    color: var(--color-300);
  }

}

.comments-area {
  .edit-link {
    position: absolute;
    writing-mode: horizontal-tb;
    transform: rotate(180deg);
    display: none;
  }
}

.comment .comment-respond {
  background-color: var(--color-50);
  padding: 1rem;
  border-radius: var(--radius-medium);
  margin-inline-start: 2.5rem;
  margin-block: 1rem;

  .comment-reply-title {
    font-size: 1.125rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-block-end: 0.5rem;
    #cancel-comment-reply-link {
      color: var(--color-400);
      font-size: 0.75rem;
      font-weight: 400;
      transition: all var(--transition);
      &:hover {
        color: var(--color-700);
      }
    }

  }
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea {
    width: 100%;
  }

  .required-field-message {

  }

  .required {
    color: var(--color-950);
    font-size: 0.875rem;
    font-weight: 700;
  }

}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {
  label {
    display: inline-block;
    font-weight: 500;
    position: relative;
    padding-inline-end: 0.75rem;
    margin-block-end: 0.5rem;
    .required {
      position: absolute;
      inset: 0 0 auto auto;
      transform: translateY(-0.125rem);
    }
  }
}

.comment-form-cookies-consent {
  font-size: 0.875rem;
}

.form-submit input[type="submit"] {
  background: var(--color-900);
  color: var(--color-50);
  border-color: var(--color-900);
  &:hover {
    background: var(--color-800);
    border-color: var(--color-800);
  }
}

.comment-form-comment {
  order: 2;
}
.form-submit {
  order: 3;
}

.no-comments {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-block: 1rem;
  color: var(--color-800);
  background: var(--color-100);
  border: 1px solid var(--color-500);
  border-radius: var(--radius-small);
  font-size: 0.875rem;
  line-height: 1.4;
}