.cards {
  display: grid;
  gap: .75rem;

  @media screen and (min-width: 40rem) {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

.card {
  position: relative;
  padding: 1.25rem;
  border: 1px solid var(--color-300);
  border-radius: var(--radius);
  transition: all var(--transition);
  &:hover {
    .card-title {
      font-weight: 700;
    }
  }
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-small);
  background-color: var(--color-100);
  width: 2rem;
  height: 2rem;
  margin-block-end: 1rem;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.card-description {
  font-size: .875rem;
  line-height: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-top: .5rem;
}

.card-link {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  .mb-icon {
    position: absolute;
    inset: 5px 5px auto auto;
    transform: rotate(90deg);
    color: var(--color-300);
    transition: all var(--transition);
    opacity: 0;
  }
  &:hover {
    box-shadow: var(--shadow);
    .mb-icon {
      transform: rotate(45deg);
      opacity: 1;
    }
  }
}