.actions-box {
  position: static;
  inset: 0 0 auto auto;
  z-index: 1;
  background-color: var(--scheme);
  border-block-end: 1px solid var(--color-300);
  height: var(--actions-box-hight);
  width: 100%;
  margin-block-end: var(--block-spacing);

  @media screen and (min-width: 60rem) {
    position: fixed;
    width: calc(100% - 20rem - 1px);
    margin-block-end: 0;
  }

  @media screen and (min-width: 90rem) {
    width: calc(100% - 50rem - 1px);
  }
}

.actions-meta {
  display: flex;
  align-items: center;
  height: 100%;
}

.action-toggle,
.article-category,
.action-group {
  height: 100%;
}

.action-toggle {
  display: flex;
  align-items: center;
  border-inline-end: 1px solid var(--color-300);
  padding-inline: 1rem;
}

.action-group {
  padding-inline-end: 1rem;
  padding-inline-start: calc(1rem + 1px);
  margin-inline-start: -1px;
  display: none;
  align-items: center;
  justify-content: end;
  border-inline-start: 1px solid var(--color-300);
  flex: 1;
  gap: 0.5rem;
  button:first-child {
    margin-inline-end: auto;
  }
  @media screen and (min-width: 32rem) {
    display: flex;
  }
}

.article-category {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  .mb-icon {
    font-size: 0.375rem;
  }
  .category-link {
    position: relative;
    display: block;
    color: var(--color-900);

    &:before {
      content: "";
      position: absolute;
      inset: auto auto -2px 0;
      width: 0;
      height: 2px;
      background-color: var(--color-800);
      transition: width var(--transition);
    }
    &:hover:before {
      width: 100%;
    }

  }
}
