.dropdown {
  position: relative;

  &.is-open .dropdown-list{
    display: block;
    z-index: 1;
  }
}


.dropdown-button {
  position: relative;

}

.dropdown-list {
  position: absolute;
  inset: auto 0 auto auto;
  display: none;
  width: max-content;
  min-width: 10rem; 
  background-color: var(--scheme);
  padding: 0.25rem;
  border: 1px solid var(--color-300);
  border-radius: var(--radius-small);
  margin-block-start: 0.875rem;
  ul {
    padding-inline-start: 0.5rem;
  }

}


.dropdown-link {
  padding: 0.25rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: background-color var(--transition);
  font-size: 0.75rem;
  color: var(--color-600);
  border: none;
  background: transparent;
  box-shadow: none;
  white-space: nowrap;
  max-width: 24ch;
  box-sizing: border-box;
  .link-icon {
    font-size: 0.875rem;
    width: 1rem;

  }
  &:hover {
   font-weight: 700;
    background: transparent;
    box-shadow: none;
  }
}
