
.posts-box {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  scrollbar-gutter: stable;

  @media screen and (min-width: 90rem) {
    mask-image: linear-gradient(180deg, #000 0 calc(100% - 2.5rem), #0000);
  }

  &:hover {
    scrollbar-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0);
    scrollbar-width: thin;

    .post-list {
      margin-inline-end: -11px;
    }
  }
}

.post-list {
  padding-inline: 1rem;
  padding-block-end: 1rem;

  .post-item:last-child {
    border-bottom: none;
  }
}


.post-item {
  position: relative;
  display: grid;
  grid-template-areas: "post-list-title post-list-icon" "post-list-description post-list-icon";
  grid-template-columns: 1fr auto;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-100);
  line-height: 1.55;
  transition: all var(--transition);

  &:hover {
    font-weight: 700;;
  }

  &:has(.post-link[aria-current="page"]) {
    background-color: var(--color-100);
    border-radius: var(--radius-small);
    //.post-title,
    //.post-description,
    //.post-icon {
    //  color: var(--color-100);
    //}
    .post-title {
      font-weight: 700;
    }

  }

}

.post-link {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
}

.post-title {
  grid-area: post-list-title;
  color: var(--color-900);
  overflow-wrap: break-word;
}

.post-description {
  grid-area: post-list-description;
  color: var(--color-500);
  line-clamp: 2;
  block-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 0.875rem;
}

.post-icon {
  grid-area: post-list-icon;
}


.archive-posts {
  .post-item,
  .post-list {
    padding-inline: 0;
  }

  @media screen and (min-width: 90rem) {
    display: none !important;
  }
}