article.section-box + article.section-box {
  margin-block-start: 3rem;
}

.article-heading {
  background-color: var(--color-100);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-block: 1px solid var(--color-300);
}

.article-title {
  font-size: 1.25rem;
}

.article-description {
  color: var(--color-500);
}

/* Content */

.page-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 90rem;
  margin-inline: auto;
}

.entry-header,
.page-header {
  display: flex;
  flex-direction: column;
  gap: var(--block-spacing);
}

.page-title,
.entry-title {
  color: var(--color-900);
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 1.1111111;
  overflow-wrap: break-word;
}

.entry-summary {
  color: var(--color-500);
  font-size: 1.25em;
  line-height: 1.6;
}

.attachment-post-thumbnail {
  border-radius: var(--radius);
}

.entry-footer {
  display: grid;
  gap: 1rem;
  @media screen and (min-width: 40rem) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}


.footer-card {
  display: grid;
  grid-template-areas: "article-card-icon article-card-title" "article-card-icon article-card-content";
  background-color: var(--color-100);
  padding: 1rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.25rem;
  border-radius: var(--radius);

  &.is-full {
    grid-column: span 2;
  }

  .icon-e-delete {
    display: none;
  }

  &:has(#more-posts:checked) {
    .icon-e-delete {
      display: block;
    }

    .icon-e-add {
      display: none;
    }

    .relevant-articles {
      li {
        display: block;
      }
    }
  }
}

.card-icon {
  grid-area: article-card-icon;
  font-size: 1.125rem;
}

.card-title {
  grid-area: article-card-title;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  hyphens: auto;

  .switcher {
    cursor: pointer;
  }
}

.card-content {
  grid-area: article-card-content;

  a {
    color: var(--color-600);
    //text-decoration: underline;
    //text-underline-offset: 2px;
    //text-decoration-thickness: 1px;
    transition: all var(--transition);
    &:hover {
      color: var(--color-800);
      font-weight: 700;
    }
  }
}

.relevant-articles {
  li:not(:nth-child(-n+1)) {
    display: none;
  }
}

.entry-content {
  color: var(--color-700);
  font-size: 1rem;
  line-height: 1.75;

  :where(p) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  :where(a:not([class])) {
    color: var(--color-900);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    font-weight: 500;
    &:hover {
      font-weight: 700;
    }
  }

  :where(strong) {
    color: var(--color-900);
    font-weight: 600;
  }

  :where(a strong) {
    color: inherit;
  }

  :where(blockquote strong) {
    color: inherit;
  }

  :where(thead th strong) {
    color: inherit;
  }

  :where(ol) {
    list-style-type: decimal;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;
  }

  :where(ol[type="A"]) {
    list-style-type: upper-alpha;
  }

  :where(ol[type="a"]) {
    list-style-type: lower-alpha;
  }

  :where(ol[type="I"]) {
    list-style-type: upper-roman;
  }

  :where(ol[type="i"]) {
    list-style-type: lower-roman;
  }

  :where(ol[type="1"]) {
    list-style-type: decimal;
  }

  :where(ul) {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;
  }

  :where(ol > li)::marker {
    font-weight: 400;
    color: var(--color-500);
  }

  :where(ul > li)::marker {
    color: var(--color-300);
  }

  :where(dt) {
    color: var(--color-900);
    font-weight: 600;
    margin-top: 1.25em;
  }

  :where(hr) {
    border-block-start: 1px solid var(--color-200);
    margin-block: 3rem;
  }

  :where(blockquote) {
    font-weight: 500;
    font-style: italic;
    color: var(--color-900);
    border-inline-start-width: 0.25rem;
    border-inline-start-color: var(--color-200);
    quotes: "\201C""\201D""\2018""\2019";
    margin-block: 1.6em;
    padding-inline-start: 1em;
  }

  :where(blockquote p:first-of-type)::before {
    content: open-quote;
  }

  :where(blockquote p:last-of-type)::after {
    content: close-quote;
  }

  :target {
    background: var(--color-100);
    transition: background 0.5s ease;
    margin-inline: -1rem;
    padding-inline: 1rem;
    border-radius: var(--radius-small);
    animation: target-fade 2s ease forwards;
  }

  :where(mark) {
    background: var(--color-100);
    padding: 0 0.2em;
    border-radius: var(--radius-small);
  }

  :where(h1,h2,h3,h4,h5,h6) {
    overflow-wrap: break-word;
  }
  :where(h1,h2,h3,h4,h5,h6)[id] {
    scroll-margin-top: 6rem;
  }

  :where(h1) {
    color: var(--color-900);
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
  }

  :where(h1 strong) {
    font-weight: 900;
    color: inherit;
  }

  :where(h2) {
    color: var(--color-900);
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
  }

  :where(h2 strong) {
    font-weight: 800;
    color: inherit;
  }

  :where(h3) {
    color: var(--color-900);
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }

  :where(h3 strong) {
    font-weight: 700;
    color: inherit;
  }

  :where(h4) {
    color: var(--color-900);
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  :where(h4 strong) {
    font-weight: 700;
    color: inherit;
  }

  :where(img) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  :where(picture) {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  :where(video) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  :where(kbd) {
    font-weight: 500;
    font-family: inherit;
    color: var(--color-900);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 3px 0 rgb(0 0 0 / 10%);
    font-size: 0.875em;
    border-radius: 0.3125rem;
    padding-top: 0.1875em;
    padding-inline-end: 0.375em;
    padding-bottom: 0.1875em;
    padding-inline-start: 0.375em;
  }

  :where(code) {
    color: var(--color-900);
    font-weight: 600;
    font-size: 0.875em;
  }

  :where(code)::before {
    content: "`";
  }

  :where(code)::after {
    content: "`";
  }

  :where(a code) {
    color: inherit;
  }

  :where(h1 code) {
    color: inherit;
  }

  :where(h2 code) {
    color: inherit;
    font-size: 0.875em;
  }

  :where(h3 code) {
    color: inherit;
    font-size: 0.9em;
  }

  :where(h4 code) {
    color: inherit;
  }

  :where(blockquote code) {
    color: inherit;
  }

  :where(thead th code) {
    color: inherit;
  }

  :where(pre) {
    color: var(--color-200);
    background-color: var(--color-800);
    overflow-x: auto;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: var(--radius);
    padding-top: 0.8571429em;
    padding-inline-end: 1.1428571em;
    padding-bottom: 0.8571429em;
    padding-inline-start: 1.1428571em;
  }

  :where(pre code) {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  :where(pre code)::before {
    content: none;
  }

  :where(pre code)::after {
    content: none;
  }

  :where(table) {
    width: 100%;
    table-layout: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
  }

  :where(thead) {
    border-bottom-width: 1px;
    border-bottom-color: var(--color-300);
  }

  :where(thead th) {
    color: var(--color-900);
    font-weight: 600;
    vertical-align: bottom;
    padding-inline-end: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-inline-start: 0.5714286em;
  }

  :where(tbody tr) {
    border-bottom-width: 1px;
    border-bottom-color: var(--color-200);
  }

  :where(tbody tr:last-child) {
    border-bottom-width: 0;
  }

  :where(tbody td) {
    vertical-align: baseline;
  }

  :where(tfoot) {
    border-top-width: 1px;
    border-top-color: var(--color-300);
  }

  :where(tfoot td) {
    vertical-align: top;
  }

  :where(th, td) {
    text-align: start;
  }

  :where(figure > *) {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: var(--radius);
  }

  :where(figcaption) {
    color: var(--color-500);
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
  }

  :where(picture > img) {
    margin-top: 0;
    margin-bottom: 0;
  }

  :where(li) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  :where(ol > li) {
    padding-inline-start: 0.375em;
  }

  :where(ul > li) {
    padding-inline-start: 0.375em;
  }

  :where(.prose > ul > li p) {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  :where(.prose > ul > li > p:first-child) {
    margin-top: 1.25em;
  }

  :where(.prose > ul > li > p:last-child) {
    margin-bottom: 1.25em;
  }

  :where(.prose > ol > li > p:first-child) {
    margin-top: 1.25em;
  }

  :where(.prose > ol > li > p:last-child) {
    margin-bottom: 1.25em;
  }

  :where(ul ul, ul ol, ol ul, ol ol) {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  :where(dl) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  :where(dd) {
    margin-top: 0.5em;
    padding-inline-start: 1.625em;
  }

  :where(hr + *) {
    margin-top: 0;
  }

  :where(h2 + *) {
    margin-top: 0;
  }

  :where(h3 + *) {
    margin-top: 0;
  }

  :where(h4 + *) {
    margin-top: 0;
  }

  :where(thead th:first-child) {
    padding-inline-start: 0;
  }

  :where(thead th:last-child) {
    padding-inline-end: 0;
  }

  :where(tbody td, tfoot td) {
    padding-top: 0.5714286em;
    padding-inline-end: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-inline-start: 0.5714286em;
  }

  :where(tbody td:first-child, tfoot td:first-child) {
    padding-inline-start: 0;
  }

  :where(tbody td:last-child, tfoot td:last-child) {
    padding-inline-end: 0;
  }

  :where(figure) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  :where(.prose > :first-child) {
    margin-top: 0;
  }

  :where(.prose > :last-child) {
    margin-bottom: 0;
  }
}

@keyframes target-fade {
  0%   { background: var(--color-200); }
  100% { background: transparent; }
}