.has-tooltip {
  position: relative;
  &::before,
  &::after {
    color: var(--scheme);
    font-size: 0.75rem;
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: var(--color-900);
    color: var(--scheme);
    content: attr(data-tooltip); //This pulls in the text from the element with the tooltip
    padding: 0.5rem 0.75rem;
    text-transform: none;
    transition: all 0.5s ease;
    width: max-content;
    transform: translateY(calc(-100% - 7px)) translateX(-50%);
    word-wrap: break-word;
    white-space: break-spaces;
    line-height: 1.5;
    text-align: left;
    border-radius: var(--radius-small);
  }

  //Tooltip arrow
  &::after {
    position: absolute;
    top: -7px;
    left: 50%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-900);
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
    transform: translateX(-50%);
  }

  &:focus-visible::before,
  &:focus-visible::after,
  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
  }

  &.on-right {
    &::before{
      top: 50%;
      left: 100%;
      transform: translateY(-50%) translateX(4px);
    }
    &::after{
      top: 50%;
      left: calc(100% + 2px);
      rotate: 90deg;
      transform: translateX(calc(-50% + 2.5px));
    }
  }

  &.on-left {
    &::before{
      top: 50%;
      left: -2px;
      transform: translateY(-50%) translateX(-100%);
    }
    &::after{
      top: 50%;
      left: 0;
      rotate: -90deg;
      transform: translateX(calc(-50% + 7px));
    }
  }

  &.on-bottom {
    &::before{
      top: unset;
      bottom: 0;
      transform: translateY(calc(100% + 7px)) translateX(-50%);
    }
    &::after{
      top: unset;
      bottom: -7px;
      rotate: 180deg;
    }
  }

}
