
.page,
.search,
.error404 {
  .site-box {
    @media screen and (min-width: 90rem) {
      grid-template-columns: 20rem minmax(300px, 1fr);
      .actions-box {
        width: calc(100% - 20rem );
      }
    }
  }
  .action-group {
    display: flex;
  }

  .search-box {
    @media screen and (max-width: 60rem) {
      display: none;
    }
  }

}

.archive {
  .action-group {
    display: flex;
  }

  .search-box {
    @media screen and (max-width: 60rem) {
      display: none;
    }
  }
}

.single {
  .action-group {
    display: flex;
  }

  #copy-url, .dropdown {
    @media screen and (max-width: 60rem) {
      display: none;
    }
  }

}

.page-template-default .main-box,
.page-template .main-box {
  border-inline-start: none;
}

.error404 .page-content,
.search .page-content,
.page-template-template-focus-page .page-content {
  max-width: 50rem;
  margin: 0 auto;
  height: 100%;
}

.page-template-template-full-page .page-content {
  max-width: 100%;
}

.section-box {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: var(--site-padding-inline);
  display: flex;
  flex-direction: column;
  gap: var(--block-spacing);
  + .section-box {
    margin-block-start: var(--block-spacing);
  }
}


.error404 .site-box,
.search .site-box {
  @media screen and (min-width: 60rem) {
    grid-template-columns: 20rem 1fr;
  }
}

.error404 .search-section,
.search .search-section{
  margin-inline: 0;
}

.error404 .post-list,
.search .post-list {
  padding-inline: 0 ;
}

.search {
  .search-section {
    padding-block-end: 3rem;
  }
}

.error-404 {
  .entry-header {
    display: block;
  }
  .entry-title {
    padding-block-end: 0.75rem;
    border-block-end: 1px dashed var(--color-400);
    margin-block-end: 0.75rem;
  }
  .entry-summary {
    color: var(--color-700);
  }
}

.error404-content-inner {
  max-width: 640px;
  margin: 4rem auto;
  padding: 2rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.page .search-box {
  @media screen and (min-width: 90rem) {
    display: block;
  }
}

.search .action-group {
  border-inline-start: none;
}