.site-footer {
  margin-block-start: auto;
  position: relative;
  border-block-start: 0.0625rem solid var(--color-300);
  padding-block-start: 1rem;
  padding-inline-end: 1rem;

  .footer-buttons .button{
    &:first-child {
      border-radius: 0 0 0 var(--radius);
    }

    &:last-child {
      border-radius: 0 0 var(--radius) 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child:last-child {
      border-radius: 0 0 var(--radius) var(--radius);
    }
  }

  &:has(.footer-buttons) .footer-box {
    border-radius: var(--radius) var(--radius) 0 0;
  }

  .footer-buttons{
    gap: 0;
  }

  .site-logo{
    max-height: 5rem;
    width: 5rem;
    svg,
    img {
      max-height: 5rem;
      width: auto;
    }
  }

}

.footer-box {
  display: flex;
  gap: 0.75rem;
  background: var(--color-50);
  padding-block: 1rem 0.5rem;
  padding-inline: 1rem;
  align-items: center;
  border-radius: var(--radius);
}



.footer-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: hidden;
}

.footer-blog-name {
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.footer-text {
  font-size: 0.825rem;
  flex: 1;
  font-weight: 400;
  line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;        /* enable flexbox-like layout */
  -webkit-box-orient: vertical;/* vertical orientation */
  -webkit-line-clamp: 2;       /* limit to 3 lines */
}

.footer-buttons {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  justify-content: space-between;

  .menu-icon {
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem
  }

  .button {
    width: 100%;
  }
}