/*
Tags: blog, one-column, wide-blocks, block-styles, featured-images, full-site-editing, rtl-language-support, threaded-comments, translation-ready
*/

/*
* Control the hover stylings of outline block style.
*/
.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-background):hover {
	background-color: var(--wp--preset--color--primary);
	border-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--base);
}

/*
* Control the hover stylings of the pseudo element in post title block.
* For some reason, this does not work if the style is added to the theme.json.
*/
.wp-block-post-title:hover::before {
	color:var(--wp--preset--color--primary);
}
