.alignleft {
  float: left;
  margin-inline-end: var(--block-spacing);
}

.alignright {
  float: right;
  margin-inline-start: var(--block-spacing);
}

.aligncenter {
  display: block;
  clear: both;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}